@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.text-color{
    color:  #727272;
}
/* starting style */

.nav-title{
    color:  #131313;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list-item{
    margin: 0px 10px;
    color: #424242;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}
/* nav bar ends */

.header{
    background: rgba(255, 144, 14, 0.10);
    height: 800px;
}
.header-title{
    color:  #131313;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}
.header-des{
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    width: 550px;
    margin: 20px auto;
    text-align: center;
}
.btn{
    border-radius: 5px;
    background: #FF900E;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 15px 25px;
}
.header-content{
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}
.header-img{
    height: 400px;
    width: 800px;
    text-align: center;
}
.img-container{
    display: felx;
    align-items: center;
    justify-content: center;
}
.banner{
    max-width:800px ;
    margin: 0px auto;
}